{% extends 'pages/base.html' %}
{% block title %}StravaGram - Your Strava activities in Telegram{% endblock title %}
{% block content  %}
<div class="card text-center">
  <img class="card-img-top width 200" src="/static/stravagram-colored-wide.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Your Strava activities in Telegram</h5>
      <p class="card-text">
        Check the stats, download GPX files and share your activities with friends.
        Watch out for your starred segments, review your gear and a lot of other useful stuff for Strava right in your Telegram.
      </p>
      <p class="card-text"><small class="text-muted">currently in alpha version</small></p>
    <a href="http://t.me/stravagrambot" class="btn btn-outline-light btn-lg" role="button" aria-disabled="true" style="background-color: #a541ff;">Launch bot</a>
  </div>
</div>
{% endblock content %}